* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    text-decoration: none;
    scroll-behavior: smooth;

}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ea580c;
    --angle: 0deg;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 4rem 15%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-bar {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    color: var(--text-color);
    cursor: pointer;
    font-size: 3rem;
    font-weight: 800;
    transition: transform 0.3s ease-in-out;

}

.logo:hover {
    transform: scale(1.1);
}



span {
    background: linear-gradient(270deg,
            #df8908 10%,
            #ff1d15 100%);
    background-clip: text;
    color: transparent;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
    background: linear-gradient(270deg,
            #df8908 10%,
            #ff1d15 100%);
    color: var(--text-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    cursor: pointer;
    letter-spacing: 1px;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.gradient-btn:hover {
    transform: scale(1.05);
}

section {
    min-height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1rem 0;
    line-height: 1;



}

.home-content h3 {
    margin: 1rem 0;
    font-size: 3rem;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-image {
    position: relative;
    display: inline-block;
}

.home-image img {
    width: 30vw;
    transform: translateY(8%);

    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    border: none;
    animation: shake 5s linear infinite;
}



.home-image img:hover {
    transform: scale(1.01) translateY(8%);
    box-shadow: 0 0 25px var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    box-shadow: 0 0 100px var(--main-color);

}

.social-icons>a {
    display: inline-flex;
    color: var(--main-color);
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;

}


.social-icons>a:hover {
    color: white;
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0px 0px 25px var(--main-color);
}

.btn-group {

    display: flex;
    gap: 1.5rem;

}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 25px var(--main-color);
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;

}

.btn:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 25px var(--main-color),
        0 0 50px var(--main-color);

}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

/* about section */

.about {
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.about-content h2 {
    font-size: 7rem;
    text-align: left;
    animation: autoShow-right;
    animation-timeline: view();


}

.about-content p {
    font-size: 1.8rem;
    animation: autoShow-down;
    animation-timeline: view();
}

.about-content .btn {
    margin: 3rem 0;
    animation: autoShow-top;
    animation-timeline: view();

}

.about-content .btn:hover {
    color: var(--text-color);
}

.about-img img {
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    animation: autoRotate;
    animation-timeline: view();


}




@keyframes autoRotate {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 360deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes autoShow-down {
    0% {
        opacity: 0;
        transform: translateY(40px) scale(.5);
    }

    50% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes autoShow-right {
    0% {
        opacity: 0;
        transform: translatex(180px);
    }

    10% {
        opacity: 0;
        transform: translatex(180px);
    }

    50% {
        opacity: 1;
        transform: translatex(0);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes autoShow-left {
    0% {
        opacity: 0;
        transform: translatex(-180px);
    }

    10% {
        opacity: 0.5;
        transform: translatex(-180px);
    }

    50% {
        opacity: 1;
        transform: translatex(0);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        transform: translatex(-80px);
    }

    25% {
        opacity: 1;
        transform: translatex(0);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes right {
    0% {
        opacity: 0;
        transform: translatex(80px);
    }

    25% {
        opacity: 1;
        transform: translatex(0);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes autoShow-top {
    0% {
        opacity: 0;
        transform: translateY(-40px) scale(.5);
    }

    50% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes shake {
    0% {
        transform: scale(1.01) translateY(4px);
    }

    25% {
        transform: scale(1) translateY(0px);
    }

    50% {
        transform: scale(1.01) translateY(4px);
    }

    75% {
        transform: scale(1) translateY(0px);
    }

    100% {
        transform: scale(1.01)translateY(4px);
    }
}


.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

/* service section */
.heading {
    text-align: center;
    font-size: 7rem;
    color: var(--text-color);
    margin: 3rem 0;
}

.services {
    background-color: var(--bg-color);
    color: black;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;

}

.service-box {
    background-color: var(--main-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
    animation: autoShow-top;
    animation-timeline: view();
}

.service-box:hover {
    background-color: var(--second-bg-color);
    border: 5px solid var(--main-color);
    color: var(--main-color);

    i {
        color: var(--main-color);
    }

}



.service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
}

.service-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
}

.service-info p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7;
}

.service-info i {
    font-size: 8rem;
    color: var(--bg-color);
    transition: 0.4s ease-in-out;
}

/* project section */
.projects {
    background-color: var(--second-bg-color);
    z-index: 1;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 3rem;
    z-index: 2;
    padding: 3rem;
    row-gap: 5rem;

}

.project-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    padding: 2rem 2rem;

    cursor: pointer;
    box-shadow: 0 0 25px transparent;
    transition: 0.4s ease-in-out;

}

.content {
    position: relative;
    z-index: 1;
}

.content::after,
.content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle),

            transparent 0deg,
            var(--main-color) 60deg,
            var(--main-color) 180deg,
            transparent 180deg,
            var(--main-color) 250deg);
    border-radius: 3.5rem;
    padding: .1rem;
    z-index: -1;
    animation: borderRotate 5s linear infinite;

}

.content::before {
    filter: blur(15px);
}

.content::after {
    padding: .4rem;
}

@keyframes borderRotate {
    from {
        --angle: 0deg
    }

    to {
        --angle: 360deg
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 180deg;
    inherits: false;
}


.project-card img {
    max-width: 200px;
    border-radius: 2rem;
    object-fit: cover;
}

.project-card h3 {
    font-size: 2rem;
    margin: 1rem .5rem;
}

.project-card p {
    font-size: 1rem;
}

.project-card .btn {
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shake linear infinite 5s;

}

.project-card .btn:hover {
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);

}

/* contact section */

.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
    animation: autoShow-down;
    animation-timeline: view();
}

.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea {

    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.input-box input {
    animation: left;
    animation-timeline: view();
}

.contact form textarea,
.input-group-2 input {
    animation: right;
    animation-timeline: view();
}

/* footer */
.footer {
    background-color: var(--second-bg-color);

    padding: 40px 0;
}

.footer .social-icons {
    text-align: center;

}

.footer ul {
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 20px;
}

.footer ul li a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: .3s ease-in-out;
    font-size: 1.8rem;
}

.footer ul li a:hover {
    border-bottom: 2px solid var(--main-color);
}

.footer .location {
    text-align: center;
    font-size: 12px;

}

.footer .copyright {
    text-align: center;
    font-size: 16px;
    margin-top: 1rem;
}

/* Responsive design */

@media(max-width:1150px) {
    #menu-bar {
        display: block;

    }

    .gradient-btn {
        display: none;
    }

    .navbar {
        position: absolute;
        right: 10px;
        top: 110%;
        width: 25vw;
        padding: 1rem 5rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-right: 2px solid var(--main-color);
        display: none;
        transition: 0.3s ease-in-out;

    }

    .navbar:hover {
        transform: scale(1.01);

    }

    #navbar1 a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);

        text-align: center;


    }

    .navbar.active {
        display: block;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }

    .home-content {
        align-items: center;
        text-align: center;


    }

    .home-image img {
        width: clamp(25vw,calc(30vw + 5rem),40vw);
        margin: 2rem 0;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2,
    p {
        text-align: center;
    }

    .about-img img {
        width: 45vw;
    }

    .about {
        gap: 1rem;




    }

    .contact form {
        flex-direction: column;
    }
}

@media(max-width:600px) {
    .logo {
        font-size: 2rem;
    }

    #menu-bar {
        font-size: 2rem;
    }

    .home-image img {
        width: 55vw;
    }

    .header {
        justify-content: space-between;
        gap: 0;
        width: 100vw;
        height: 10vh;
    }

    .navbar {
        width: 50vw;

    }

    .home {
        width: 100vw;
        padding-top: 5rem;
        gap: 2rem;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .social-icons>a {
        font-size: 1rem;
    }

    .about {
        padding-top: 4rem;
    }

    .about-content h2 {
        font-size: 4rem;
        padding-bottom: 1.5rem;
    }

    .about-content p {
        font-size: 1.5rem;
    }

    .about-img img {
        width: 70vw;
    }

    .services {
        padding-top: 4rem;
    }

    .services .heading {
        font-size: 4rem;
    }

    .service-container {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .service-box {
        height: 60vh;
    }

    .service-info i {
        font-size: 4rem;
    }

    .service-info h4 {
        font-size: 2.5rem;
    }

    .service-info p {
        font-size: 1rem;
    }

    .projects {
        padding-top: 4rem;
    }

    .projects .heading {
        font-size: 5rem;
    }

    .project-box {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

    }

    .contact {
        padding-top: 4rem;
    }

    .contact .heading {
        font-size:4rem
    }

    .contact form .input-box input {
        width: 100%;
        height: 1vh;
    }
}